.header {
  background: #212121;
  padding: 1rem;
  border-bottom: 2px solid #bb1f2f;
  display: flex;
  align-items: center;
  width: 100%;
}

.header-title {
  cursor: pointer;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 52px;
  line-height: 1.35;
  letter-spacing: -.02em;
}


.search {
  flex: 1;
  padding: 5px 60px 0px 60px;
}
.search-icon {
  position: absolute;
  margin-top: 8px;
  z-index: 1;
  color: #666;
}
.search .mdl-textfield {
  padding: 6px;
  color: #aaa;
  width: 100%;
  border-bottom: 2px solid rgba(256,256,256,.12);
}
.search .mdl-textfield__input {
  font-size: 22px;
  border-bottom: none;
}


.login-button {
  order: 2;
}
.login-button .mdl-button {
  margin: 0px 10px;
  color: #666;
  height: 46px;
  float: right;
}


@media (max-width: 700px) {
  .header {
    flex-wrap: wrap;
  }
  .header-title {
    flex: 5;
  }
  .login-button {
    flex: 1;
    order: 1 !important;
  }
  .search {
    flex: 0 1 auto;
    order: 2 !important;
    width: 100%;
    padding: 10px 30px 10px 0px;
  }
}