.header {
  background: #212121;
  padding: 0.1rem 1rem;
  display: flex;
  align-items: center;
  width: 100%;
}
.mdl-layout__header {
  background: #212121;
  border-bottom: 2px solid #bb1f2f;
}

.header-title {
  cursor: pointer;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
  font-size: 32px;
  line-height: 1.35;
  letter-spacing: -.02em;
}
.header-image {
  padding-left: 10px;
  width: auto;
  height: 50px;
}


.search {
  flex: 1;
  padding: 5px 60px 0px 60px;
}
.search-icon {
  position: absolute;
  margin-top: 18px;
  z-index: 1;
  color: #666;
}
.search .mdl-textfield {
  width: 100%;
}
.search .mdl-textfield__input {
  font-size: 16px;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  border-bottom: 2px solid rgba(256,256,256,.12);
}
.search .mdl-textfield__label:after {
  background: #666;
}

/* MDL tweaks */
.mdl-textfield__label {
  color: #fff;
}
.is-focused .mdl-textfield__label,
.is-dirty .mdl-textfield__label {
  color: #888 !important;
}
.mdl-textfield__label:after {
  background: rgb(255, 82, 82);
}
.mdl-textfield__input {
  color: #fff;
  border-bottom: 1px solid rgba(256,256,256,.12);
}


.buttons .mdl-button {
  color: #666;
  height: 46px;
  width: 46px;
}


@media (max-width: 700px) {
  .header {
    flex-wrap: wrap;
    padding: 1rem;
  }
  .header-title {
    flex: 5;
  }
  .search {
    flex: 0 1 auto;
    order: 2 !important;
    width: 100%;
    padding: 10px 40px 0px 0px;
  }
}