body {
  background: #303030;
}
.header {
  background: #212121;
  padding: 2rem;
  border-bottom: 2px solid #bb1f2f;
}

.mdl-layout__tab-bar, .mdl-layout__tab-bar-button {
  background: #424242;
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.mdl-card {
  background: #424242;
  width: auto;
}
.mdl-card__subtitle-text {
  color: rgba(256,256,256,.54);
}
.card-actions {
  vertical-align: center;
  text-align: right;
}
.card-title {
  flex-direction: column;
  cursor: pointer;
}

.page {
 padding: 1em;
}