body {
  background: #303030;
}
.header {
  background: #212121;
  padding: 2rem;
  border-bottom: 2px solid #bb1f2f;
  cursor: pointer;
}
.error {
  background: #bb1f2f;
  padding: 10px;
}
.error:empty {
  display: none;
}

.align-top {
  vertical-align: top;
}

.mdl-layout__tab-bar, .mdl-layout__tab-bar-button {
  background: #424242;
}

.spinner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.mdl-card {
  background: #424242;
  width: auto;
}
.mdl-card__subtitle-text {
  color: rgba(256,256,256,.54);
}
.mdl-chip {
  background: #626262;
  color: rgba(256,256,256,.54);
  margin-left: 5px;
  cursor: pointer;
}
.card-actions {
  vertical-align: center;
  text-align: right;
}
.card-title {
  flex-direction: column;
  cursor: pointer;
}
.card-title a {
  color: inherit;
  font-weight: inherit;
  text-decoration: none;
}
.card-license {
  padding-left: 10px;
}
.card-subtitle-icon {
  padding-right: 5px;
}

.version-tabs .mdl-tabs__tab-bar {
  padding: 0px 10px;
  -webkit-justify-content:left;
  -ms-flex-pack:left;
  -webkit-box-pack:left;
  justify-content:left;
}
.mdl-tabs__tab-bar {
  border-bottom:1px solid rgba(0,0,0,.1)
}
.is-active.mdl-tabs__tab {
  background: #626262;
}
.mdl-tabs__tab {
  background: #525252;
}

.files {
  background: rgba(0,0,0,.1);
  padding: 6px;
}
.file {
  padding: 6px;
  margin: 2px 0px;
}
.file .cell {
  padding: 2px 0px 2px 10px;
}

.dependencies {
  padding-top: 20px;
}
.dependency {
  padding: 2px 0px 2px 10px;
}

.page {
  padding: 1em;
}
