/* MDL lib customization */

.mdl-layout__header {
  background: #212121;
  border-bottom: 2px solid #bb1f2f;
}

.mdl-textfield__label {
  color: #fff;
}
.is-focused .mdl-textfield__label,
.is-dirty .mdl-textfield__label {
  color: #888 !important;
}
.mdl-textfield__label:after {
  background: rgb(255, 82, 82);
}
.mdl-textfield__input {
  color: #fff;
  border-bottom: 1px solid rgba(256,256,256,.12);
}
.mdl-textfield__error {
  color: rgb(255, 82, 82);
}

.mdl-chip {
  background: #626262;
  color: rgba(256,256,256,.54);
  margin-left: 5px;
  cursor: pointer;
}
.mdl-chip:active {
  background-color: #727272;
}

.mdl-tabs__tab-bar {
  border-bottom: 1px solid rgba(0,0,0,.1)
}
.is-active.mdl-tabs__tab {
  color: #ffffff !important;
  background: rgba(0,0,0,.1);
}
.mdl-tabs__tab {
  background: inherit;
}
.mdl-tabs.is-upgraded .mdl-tabs__tab.is-active::after {
  background: rgb(255, 82, 82);
}

.mdl-card {
  background: #424242;
  width: auto;
  overflow: visible;
}
.mdl-card__subtitle-text, .subtitle {
  color: rgba(256,256,256,.54);
}
.mdl-card__supporting-text {
  color: rgba(255,255,255,.54);
}
.mdl-card__title {
  color: #fff;
}

.mdl-progress {
  width: auto;
}
.mdl-progress.mdl-progress__indeterminate>.bar1 {
  background-color: rgb(255, 82, 82);
}
.mdl-progress>.bufferbar {
  background-image: linear-gradient(
    to right,
    rgba(10,10,10,.7),
    rgba(10,10,10,.7)),
    linear-gradient(to right, rgb(255,82,82), rgb(255,82,82));
}
.mdl-progress:not(.mdl-progress--indeterminate):not(.mdl-progress--indeterminate)>.auxbar {
  background-image: linear-gradient(
    to right,
    rgba(10,10,10,.7),
    rgba(10,10,10,.7)),
    linear-gradient(to right, rgb(255,82,82), rgb(255,82,82));
}

.mdl-snackbar {
  border: 1px solid rgba(255,255,255,.1);
  border-radius: 2px;
  cursor: pointer;
}
