.auth-card {
  text-align: center;
}
.auth-alter {
  display: inline-block;
  padding-left: 10px;
}

.avatar {
  font-size: 128px;
  color: #bbb;
  border: 2px solid #353535;
  border-radius: 128px;
}
.profile-nickname {
  color: #fff;
  padding-top: 10px;
}
.profile-panel {
  padding-top: 10px;
}
.profile-button {
  margin: 10px;
}
.profile-button i {
  vertical-align: top;
  padding-right: 10px;
}
.badges {
  padding-top: 10px;
}
.badges:empty {
  display: none;
}
.admin-badge {
  background: rgb(255, 82, 82);
}
.user-badge {
  background: #bbb;
}

/* MDL tweaks */
.mdl-textfield__error {
  color: rgb(255, 82, 82);
}